.env
.idea/misc.xml
.idea/Backend_Artistverse.iml
util/__pycache__
service/__pycache__
controller/__pycache__
Database/__pycache__
http_ca.crt
.cache
test_connect.ipynb
bulk_index_log.pkl
test/data/merged_clean.csv
test/__pycache__
.coverage
test/debug_simple.py
test/test_dataset.ipynb
